[[services]]
name = "backend"
root = "backend"
[services.build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"

[services.environment]
PYTHON_VERSION = "3.11"

[services.deploy]
startCommand = "uvicorn app:app --host 0.0.0.0 --port $PORT"
healthcheckPath = "/"
healthcheckTimeout = 100

[services.variables]
FRONTEND_URL = ""

[[services]]
name = "frontend" 
root = "frontend"

[services.build]
builder = "NIXPACKS"

[services.deploy]
startCommand = "npm run preview -- --host 0.0.0.0 --port $PORT"

[services.variables]
VITE_BACKEND_URL = ""
